@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&family=Lato&family=Roboto:wght@700;900&family=Rubik&display=swap');

body {
	background-color: #2d2d2d;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

.editor-body {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.editor-gameview {
	background-color: rgb(106, 106, 106);
	width: 55vw;
	height: 60vh;
}

.editor-inspector {
	background-color: white;
	width: 20vw;
	height: 60vh;
}

.editor-upper {
	background-color: rgb(202, 202, 202);
	width: 100vw;
	height: 10vh;
}

.editor-filesystem {
	background-color: rgb(163, 163, 163);
	height: 30vh;
	width: 100vw;
}

.playstop-buttons {
	display: flex;
	justify-content: center;
}


.playstop-buttons button {
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border: none;
}

.playstop-buttons span {
	font-size: 500%;
}


.editor-hierarchy {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	background-color: white;
	width: 25vw;
	height: 60vh;
}

.editor-hierarchy-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(137, 137, 137);
	height: 2vh;
	width: 24.75vw;
	border-color: #2d2d2d;
	border-style: solid;
}



.editor-hierarchy-text {
	font-weight: bold;
}

.context-menu {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Rubik', sans-serif;
    z-index: 999; /* Make sure the context menu appears above other content */
}

.context-menu-option {
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}


.editor-inspector-objectname {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137, 137, 137);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    border-color: #2d2d2d;
    border-style: solid;
}

.editor-inspector-component {
    display: flex;
    background-color: rgb(137, 137, 137);
    margin: 0;
    border-color: #2d2d2d;
    border-style: solid;
    justify-content: flex-start;
    align-content: flex-start;
	flex-direction: column;
}

.editor-inspector-component-name {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.editor-inspector-component-var {
    display: flex;
    align-items: center;
}

.editor-inspector-component-var-input-group {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add margin for spacing between X and Y inputs */
}

.editor-inspector-component-var-text {
    margin: 0;
    margin-right: 10px; /* Add margin to create space between "Pos:" and the input fields */
    font-size: 16px; /* Adjust font size as needed */
}

.editor-inspector-component-var-input {
    width: 50px; /* Adjust the width of the input fields as needed */
}


.context-menu-option:hover {
    background-color: #f2f2f2;
}